{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add How's</h3>
    <div class="row card-panel grey lighten-5">
        <form class="col s12 " method="POST" action="{{ url_for('add_hows')}}">
            <!-- category dropdown -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4 "></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">How's Category</label>
                </div>
            </div>
            <!-- Name of the how's -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4 "></i>
                    <input id="hows_title"" name="hows_title"" 
                      minlength="5" maxlength="50" type="text" class="validate" required>
                    <label for="hows_title">Hows Title</label>
                </div>
            </div>
            <!-- tesk describtion -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="hows_description" name="hows_description" class="materialize-textarea validate"minlength="5"
                        maxlength="200" required></textarea>
                    <label for="hows_description">How's Description</label>
                </div>
            </div>
            <!-- Submit button-->
            <div class="row s12 center-align">
                <button class="btn-large light-blue darken-1 text-shadow" type="submit" name="">
                    Add How's <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </form>
    </div>

{% endblock %}